<section class="about">
	<div class="container">
		<div class="about__content">
			<h2 class="about__title title">
				Lover's Club&nbsp;— это…

			</h2>
			<ul class="about__list about-list list-img">
				<li class="about-list__item">
					<h3 class="subtitle">
						Свобода действий
					</h3>
					<p class="text">
						Просматривайте неограниченное количество профилей и сообщений. Сами выбирайте, кто может вам писать: все пользователи, только подходящие под ваши предпочтения или те, с кем возникла обоюдная симпатия. Какая информация о вас и ваших действиях отображается на сайте&nbsp;— решаете только вы. 
					</p>
				</li>
				<li class="about-list__item">
					<h3 class="subtitle">
						Конфиденциальность
					</h3>
					<p class="text">
						Трехступенчатая система шифрования обеспечивает защиту всех отправленных вами сообщений и фото. Доступа к вашим данным нет даже у сотрудников техподдержки, они обрабатываются программно. Возможность делать скриншоты личных страниц и переписки заблокирована&nbsp;— при попытке сделать это данные автоматически скрываются.

					</p>
				</li>
				<li class="about-list__item">
					<h3 class="subtitle">
						Реальные люди

					</h3>
					<p class="text">
						Алгоритмы проверки профилей учитывают специфику сайта. Действует система защиты от сталкинга, буллинга, мошенничества, рекламы и назойливых пользователей. Нет публичных данных активности&nbsp;— рейтингов, комментариев и т.д. Только приватная переписка и только если вы друг другу подходите..

					</p>
				</li>
				<li class="about-list__item">
					<h3 class="subtitle">
						Любой формат диалога

					</h3>
					<p class="text">
						В чатах доступны текстовые, аудио и видео сообщения, а также аудио- и видеозвонки. Для любителей спонтанности&nbsp;— встроенный чат-рулетка, случайно подбирающий собеседников, соответствующих вашим предпочтениям. 

					</p>
				</li>
				<li class="about-list__item">
					<h3 class="subtitle">
						Удобная система оплаты

					</h3>
					<p class="text">
						Вы можете совершать платежи вручную или настроить автоматическую оплату, привязав свою банковскую карту. Все финансовые операции защищены и находятся под полным контролем&nbsp;— уведомления о платежах приходят на ваш телефонный номер. 

					</p>
				</li>
				<li class="about-list__item">
					<h3 class="subtitle">
						VIP-возможности

					</h3>
					<p class="text">
						Активировав профиль, вы сразу получаете доступ ко всему функционалу сайта без каких-либо ограничений. Мы также добавили возможность отправки VIP-сообщений и подсветки профиля&nbsp;— чтобы выделить вас из массы других пользователей. Если вам не хватает функций&nbsp;— пишите в нашу службу поддержки, добавим.

					</p>
				</li>
			</ul>
		</div>
	</div>
</section>