<footer class="footer-page">
	<div class="container">
		<div class="footer-page__content">
			<ul class="footer-page__company-info">
				<li>
					Компания: UNOBRIDGE PROJECTS LIMITADA, LLC

				</li>
				<li>
					Юридический адрес: 2135, 10th Avenue, San Jose City, San Jose, Costa Rica
				</li>
				<li>
					Регистрационный номер: 3102698629
				</li>
				<li>
					uni-support.freshdesk.com <a href="tel:+79817936352">+79817936352</a>
				</li>
			</ul>

			<div class="footer-page__bank-card">
				<img src="img/card.svg" alt="">
			</div>

			<p>
				Правила и Условия
			</p>
		</div>
	</div>

</footer>