<header class="header-page">
	<div class="container">
		<div class="header-page__content">
			<div class="logo">
				<a href="/">
					<img src="img/logo.svg" alt="">
				</a>
			</div>

			<div id="burger_Js" class="burger header-page__burger">
                <div class="burger__line burger__line_1"></div>
                <div class="burger__line burger__line_2"></div>
                <div class="burger__line burger__line_3"></div>
                <div class="burger__line burger__line_4"></div>
            </div>

			<nav id="nav_Js" class="header-page__nav">
				<ul class="header-page__menu main-menu">
					<li class="main-menu__item">
						<a data-page="about" class="main-menu__link" href="about.html">
							О сервисе
						</a>
					</li>
					<li class="main-menu__item">
						<a data-page="support" class="main-menu__link" href="support.html">
							Служба поддержки
						</a>
					</li>
					<li class="main-menu__item">
						<a data-page="vacancy" class="main-menu__link" href="vacancy.html">
							Вакансии
						</a>
					</li>
					<li class="main-menu__item">
						<a data-page="tariff" class="main-menu__link" href="tariff.html">
							Тарифы
						</a>
					</li>
					<li class="main-menu__item">
						<a class="main-menu__link" href="">
							Регистрация
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>