<section class="main">
	<div class="container">
		<div class="main__content">
			<h2 class="main__title title">
				Знакомьтесь с людьми
				поблизости
			</h2>
			<form action="" class="main__form main-form form">
				<div class="main-form__text">
					С возвращением
				</div>
				<div class=" main-form__input-wrap">
					<input class="form__input main-form__input" type="text" placeholder="Электронный адрес">
				</div>
				<div class=" main-form__input-wrap">
					<input class="form__input main-form__input" type="password" placeholder="Пароль">
				</div>
				<button class="button button_pink form__button main-form__button">
					Войти
				</button>
			</form>
			<div class="main__text text">
				<p>
					Lover's Club — сервис онлайн-знакомств, где вы точно найдете, что ищете. Зарегистрируйтесь,
					активируйте профиль, настройте предпочтения — и сразу начинайте знакомиться.

				</p>
			</div>
		</div>
	</div>
</section>