<section class="pay">
	<div class="container">
		<div class="pay__content">
			<form class="pay__form pay-form form form_purple" action="">

				<div class="pay-form__text text">
					Оплата подписки на сервис
				</div>

				<div class="pay-form__label-text">
					Заполните данные ниже, чтобы перейти к оплате

				</div>


				<div class=" pay-form__input-wrap pay-form__input-wrap_tel">
					<select class="form__select form__select_purple pay-form__select pay-form__select_tel" name=""
						id="">
						<option value="">+380</option>
					</select>
					<div class="pay-form__line">
						<span></span>
					</div>
					<input class="form__input form__input_purple pay-form__input pay-form__input_tel" type="tel"
						placeholder="">
				</div>

				<div class=" pay-form__input-wrap">
					<input class="form__input form__input_purple pay-form__input" type="email"
						placeholder="Электронный адрес">
				</div>

				<div class=" pay-form__input-wrap pay-form__input-wrap_cb">
					<label class="pay-form__label checkbox-container">
						<input class="pay-form__checkbox pay-form__checkbox_1" type="checkbox" name="">
						<span class="checkmark"></span>
						Я согласен(а) с
					</label>
					<a class="pay-form__link" href="">Правилами и условиями сайта</a>
				</div>

				<div class=" pay-form__input-wrap pay-form__input-wrap_cb">
					<label class="pay-form__label checkbox-container">
						<input class="pay-form__checkbox pay-form__checkbox_2" type="checkbox" name="">
						<span class="checkmark"></span>
						Я согласен(а) с
					</label>
					<a class="pay-form__link" href="">Политикой конфиденциальности</a>
				</div>


				<button disabled class="button button_pink form__button pay-form__button">
					Подтвердить
				</button>

			</form>
		</div>
	</div>
</section>