<section class="support">
	<div class="container">
		<div class="support__content">
			<div class="support__text text">
				<p>
					Наша служба поддержки мультиязычна и работает 24/7. Пишите нам в любое время и на том языке, на котором вам комфортнее общаться. Вашу заявку принимает оператор-носитель выбранного языка — недопонимания точно не возникнет!

				</p>
				<p>
					Хотите получить ответ мгновенно? Посмотрите список <a class="color-pink underline" href="">часто задаваемых вопросов</a>. Возможно, нужная вам информация там уже есть.

				</p>
			</div>

			<div class="support__button-wrap">
				<a class="support__button button button_pink" href="">
					<span>Связаться </span>
					<span>
						<svg width="36" height="30" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M33.164 0.50475L2.13654 12.4695C0.0190378 13.32 0.0312881 14.5013 1.74804 15.028L9.71404 17.513L28.145 5.88425C29.0165 5.354 29.8128 5.63925 29.1583 6.22025L14.2255 19.697H14.222L14.2255 19.6988L13.676 27.9098C14.481 27.9098 14.8363 27.5405 15.2878 27.1048L19.157 23.3423L27.2053 29.287C28.6893 30.1043 29.755 29.6843 30.1243 27.9133L35.4075 3.01425C35.9483 0.846001 34.5798 -0.13575 33.164 0.50475Z" fill="white"/>
							</svg>							
					</span>
				</a>
			</div>

		</div>
	</div>
</section>