<section class="tariff">
	<div class="container">
		<div class="tariff__content">
			<div class="tariff__text text">
				<p>
					Мы не разграничиваем уровни доступа к сайту&nbsp;— активировав аккаунт, вы получаете полный <span
						class="color-pink">доступ ко всем его функциям.</span>
				</p>

			</div>

			<div class="tariff__block ">
				<div class="tariff__block-table style-4">

					<table class="tariff-table">
						<thead>
							<tr>
								<th class="col1">

								</th>
								<th data-num="2" class="col col2">
									<div class="tariff-table__title">
										Пробный
									</div>
									<div class="tariff-table__price-wrap">

										<span class="currency">
											₽
										</span>
										<span class="price">
											65
										</span>

									</div>
									<div class="tariff-table__date">
										24 часа доступа
									</div>
								</th>
								<th data-num="3" class="col col3">
									<div class="tariff-table__title">
										Базовый
									</div>
									<div class="tariff-table__price-wrap">

										<span class="currency">
											₽
										</span>
										<span class="price">
											990
										</span>

									</div>
									<div class="tariff-table__date">
										7 дней доступа
									</div>
								</th>
								<th data-num="4" class="col col4">
									<div class="tariff-table__title">
										Стандарт
									</div>
									<div class="tariff-table__price-wrap">

										<span class="currency">
											₽
										</span>
										<span class="price">
											1990
										</span>

									</div>
									<div class="tariff-table__date">
										14 дней доступа
									</div>
								</th>
								<th data-num="5" class="col col5">
									<div class="tariff-table__title">
										Оптимальный
									</div>
									<div class="tariff-table__price-wrap">

										<span class="currency">
											₽
										</span>
										<span class="price">
											2990
										</span>

									</div>
									<div class="tariff-table__date">
										21 день доступа
									</div>
								</th>
								<th data-num="6" class="col col6">
									<div class="tariff-table__title">
										Максимальный
									</div>
									<div class="tariff-table__price-wrap">

										<span class="currency">
											₽
										</span>
										<span class="price">
											4800
										</span>

									</div>
									<div class="tariff-table__date">
										1 месяц доступа
									</div>
								</th>

							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="col1">
									VIP-профиль на сайте
								</td>
								<td data-num="2" class="col col2">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="3" class="col col3">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="4" class="col col4">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="5" class="col col5">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="6" class="col col6">
									<!-- =include table-ar.html -->
								</td>
							</tr>
							<tr>
								<td class="col1">
									Просмотр приватных фотографий девушек
								</td>
								<td data-num="2" class="col col2">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="3" class="col col3">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="4" class="col col4">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="5" class="col col5">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="6" class="col col6">
									<!-- =include table-ar.html -->
								</td>
							</tr>
							<tr>
								<td class="col1">
									Доступ к видеочатам с девушками
								</td>
								<td data-num="2" class="col col2">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="3" class="col col3">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="4" class="col col4">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="5" class="col col5">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="6" class="col col6">
									<!-- =include table-ar.html -->
								</td>
							</tr>
							<tr>
								<td class="col1">
									Подбор пар только с проверенными профилями
								</td>
								<td data-num="2" class="col col2">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="3" class="col col3">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="4" class="col col4">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="5" class="col col5">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="6" class="col col6">
									<!-- =include table-ar.html -->
								</td>
							</tr>
							<tr>
								<td class="col1">
									Безлимитное количество чатов
								</td>
								<td data-num="2" class="col col2">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="3" class="col col3">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="4" class="col col4">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="5" class="col col5">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="6" class="col col6">
									<!-- =include table-ar.html -->
								</td>
							</tr>
							<tr>
								<td class="col1">
									Ваш профиль будет в ТОП-рекомендациях
								</td>
								<td data-num="2" class="col col2">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="3" class="col col3">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="4" class="col col4">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="5" class="col col5">
									<!-- =include table-ar.html -->
								</td>
								<td data-num="6" class="col col6">
									<!-- =include table-ar.html -->
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td>

								</td>
								<td data-num="2" class="col col2">
									<div class="tariff-table__hidden-block">
										<div class="tariff-table__hidden">
											<button class="tariff-table__button button button_white-br">
												Выбрать
											</button>
										</div>
									</div>
								</td>
								<td data-num="3" class="col col3">
									<div class="tariff-table__hidden-block">
										<div class="tariff-table__hidden">
											<button class="tariff-table__button button button_white-br">
												Выбрать
											</button>
										</div>
									</div>
								</td>
								<td data-num="4" class="col col4">
									<div class="tariff-table__hidden-block">
										<div class="tariff-table__hidden">
											<button class="tariff-table__button button button_white-br">
												Выбрать
											</button>
										</div>
									</div>
								</td>
								<td data-num="5" class="col col5">
									<div class="tariff-table__hidden-block">
										<div class="tariff-table__hidden">
											<button class="tariff-table__button button button_white-br">
												Выбрать
											</button>
										</div>
									</div>
								</td>
								<td data-num="6" class="col col6">
									<div class="tariff-table__hidden-block">
										<div class="tariff-table__hidden">
											<button class="tariff-table__button button button_white-br">
												Выбрать
											</button>
										</div>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>

				</div>
				<div class="tariff__block-ar">
					<svg width="68" height="32" viewBox="0 0 68 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M42.5 0.25V12.75H0V19H42.5V31.5L68 15.6875L42.5 0.25Z" fill="#B51B41" />
					</svg>

				</div>
				<div class="tariff__block-form">

					<form class="tariff__form tariff-form form form_purple" action="">

						<div class="tariff-form__text">
							<div class="tariff-form__tariff">
								Оплатить тариф: <span>Пробный</span>
							</div>
							<div class="tariff-form__block">
								<div class="tariff-form__price-block">
									<span class="currency">
										₽
									</span>
									<span class="price">
										65
									</span>
								</div>
								<div class="tariff-form__date">
									14 дней доступа
								</div>
							</div>

						</div>

						<div class=" tariff-form__input-wrap">
							<input class="form__input form__input_purple tariff-form__input" type="text"
								placeholder="Имя">
						</div>

						<div class=" tariff-form__input-wrap">
							<input class="form__input form__input_purple tariff-form__input" type="email"
								placeholder="e-mail">
						</div>

						<div class=" tariff-form__input-wrap">
							<input class="form__input form__input_purple tariff-form__input" type="password"
								placeholder="Введите пароль">
						</div>

						<div class=" tariff-form__input-wrap">
							<select class="form__select form__select_purple tariff-form__select">
								<option value="">пол</option>
								<option value="">женский</option>
								<option value="">мужской</option>

							</select>
						</div>

						<div class=" tariff-form__input-wrap">
							<select class="form__select form__select_purple tariff-form__select">
								<option value="">18 +</option>
							</select>
						</div>

						<button class="button button_pink form__button tariff-form__button">
							Заказать
						</button>

					</form>
				</div>
			</div>

		</div>
	</div>
</section>