<section class="vacancy">
	<div class="container">
		<div class="vacancy__content">
			<div class="vacancy__text text">
				<p>
					Количество пользователей нашего сервиса растет, поэтому сейчас мы набираем <a href="" class="underline color-white">новых сотрудников</a>.

				</p>
			</div>

			<div class="vacancy__list-block text">
				<h3 class="vacancy__list-title ">
					Актуальные вакансии:
				</h3>
				<ul class="vacancy__list vacancy-list list-img">
					<li class="vacancy-list__item">Программист, <span class="color-pink">удаленно.</span></li>
					<li class="vacancy-list__item">Менеджер поддержки, <span class="color-pink">удаленно.</span></li>
					<li class="vacancy-list__item">Фронтенд разработчик, <span class="color-pink">Санкт-Петербург.</span></li>
					<li class="vacancy-list__item">Бекенд разработчик, <span class="color-pink">Москва.</span></li>

				</ul>
			</div>

			<div class="vacancy__text text">
				<p>
					Не нашли подходящей вакансии? Есть идеи, как сделать сервис лучше и можете их реализовать? Отправьте нам свое резюме — мы с вами свяжемся.

				</p>
			</div>

			<div class="vacancy__button-wrap">
				<a class="vacancy__button button button_pink" href="">
					Отправить резюме
				</a>
			</div>


		</div>
	</div>
</section>